<p id="notice"><%= notice %></p>

<p>
  <strong>Product: </strong>
  <%= @order.product %><br/>
  <strong>Customer: </strong><%= @order.customer.name %><br/>
  <strong>Address: </strong><br/>
  <%= @order.customer.address.street %>
  <%= @order.customer.address.number %><br/>
  <%= @order.customer.address.town %><br/>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
